:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);

  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--yellow);
  color: var(--gray-950);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  width: 100%;
  padding: 1rem;
  max-width: 350px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0 var(--gray-950);
}

.art {
  border: none;
  border-radius: 10px;
  width: 100%;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: var(--yellow);
  color: var(--gray-950);
}
.para {
  font-size: small;
  font-weight: 500;
}
h3 {
  font-size: 1.4rem;
}

.content {
  line-height: 2.5rem;
}

.text {
  line-height: 1.5rem;
  color: var(--gray-500);
}

.avatar {
  display: flex;
  justify-content: flex-start;
}
span {
  margin: 24px 0 0 10px;
  font-weight: bold;
}

.attribution {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: red;
  text-decoration: none;
}

@media (max-width: 375px) {
  .card {
    margin: 0 1rem;
  }

  body {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: 1.2rem;
  }

  .text,
  .para {
    font-size: 0.9rem;
  }
}
